body {
    display: flex;
    justify-content: center;
    align-items: center;
}



div {
    margin-top: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
    transition: 5s;
     box-shadow: 5px 5px 8px blue;
     justify-content: center;
     display: flex;
     align-items: center;
     margin: 0;

}

div:hover{
      border-radius: 50%;
    background-color: black;
    transform: scale(2.5);
    
    background-image: url("me.jpg") ;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 8px black;
   
}